PORT=8080
DATABASE_URL=postgresql://postgres:TXqpvuoEuPaHSmPEyMFCWZYnxdgYyMBp@postgres.railway.internal:5432/railway
SESSION_SECRET=8e0ca026251efdb48779f62858e4398e
ALLOWED_ORIGINS=https://your-frontend.vercel.app
NODE_ENV=production
